[project]
	description = Executable specifications for Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ghaith Hachem (ghaith)
[access "refs/for/refs/*"]
	read = group user/Ghaith Hachem (ghaith)
	push = group user/Ghaith Hachem (ghaith)
	label-Code-Review = -2..+2 group user/Ghaith Hachem (ghaith)
	label-Verified = -1..+1 group user/Ghaith Hachem (ghaith)
	rebase = group user/Ghaith Hachem (ghaith)
	removeReviewer = group user/Ghaith Hachem (ghaith)
	submit = group user/Ghaith Hachem (ghaith)
[access "refs/heads/*"]
	read = group user/Ghaith Hachem (ghaith)
	create = group user/Ghaith Hachem (ghaith)
	push = +force group user/Ghaith Hachem (ghaith)
	pushMerge = group user/Ghaith Hachem (ghaith)
[access "refs/tags/*"]
	push = +force group user/Ghaith Hachem (ghaith)
	pushTag = group user/Ghaith Hachem (ghaith)
	pushSignedTag = group user/Ghaith Hachem (ghaith)
